@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Michroma&family=Pacifico&display=swap');

@mixin flex($dir : row, $gap: 0rem) {
    display: flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin bg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.signupWrapper {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    @include flex;
    background-color: #fff;
    section:nth-child(1) {
        width: 60vw;
        height: 100vh;
        background-image: url('../../public/casual1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    section:nth-child(2) {
        z-index: 1;
        width: 40vw;
        height: 100vh;
        // border-radius: 0.75rem;
        background-color: #ffffff;
        @include flex($dir: row, $gap: 0rem);
        form {
            width: 100%;
            @include flex($dir: column, $gap: 1rem);
            h2 {
                // font-family: 'Lobster', cursive;
                font-family: 'Michroma', sans-serif;
                font-size: 1.5rem;
                margin-bottom: 1rem;
                color: rgba(0,0,0,0.75);
            }
            .warning {
                display: none;
                border: transparent;
                outline: none;
                background: red;
                color: #fff;
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
                border-radius: 0.25rem;
                cursor: default;
            }
            span {
                @include flex($dir: row, $gap: 1rem);
                font-size: 1rem;
                font-family: 'Poppins', sans-serif;
            }
            span:nth-child(1) {
                padding-bottom: 0.25rem;
                border-top: transparent;
                border-left: transparent;
                border-right: transparent;
                border-bottom: 0.05rem solid rgba(0,0,0,0.25);
            }
            .tologin {
                @include flex($gap : 0.5rem);
                font-size: 0.75rem;
                font-family: 'Poppins', sans-serif;
                cursor: default;
            }
            label {
                @include flex($dir : column, $gap : 0.5rem);
                align-items: flex-start;
                .user {
                    @include flex;
                    width: auto;
                    height: auto;
                    span {
                        width: 2rem;
                        height: 1.95rem;
                        background-image: url('../../public/user (1).png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        filter: brightness(0) opacity(0.75);
                        border-top: transparent;
                        border-left: transparent;
                        border-right: 0.05rem solid rgba(0,0,0,0.25);
                        border-bottom: transparent;
                    }
                    input {
                        outline: none;
                        padding: 0.5rem 2rem 0.5rem 0.5rem;
                        width: 15rem;
                        border-top: transparent;
                        border-left: transparent;
                        border-right: transparent;
                        border-bottom: transparent;
                        border-radius: 0.5rem;
                        margin-left: 0.25rem;
                    }
                }
                .signupemail {
                    @include flex;
                    width: auto;
                    height: auto;
                    span {
                        width: 2rem;
                        height: 1.95rem;
                        background-image: url('../../public/email.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        filter: brightness(0) opacity(0.75);
                        border-top: transparent;
                        border-left: transparent;
                        border-right: 0.05rem solid rgba(0,0,0,0.25);
                        border-bottom: transparent;
                        border-radius: 0;
                        padding-right: 0.5rem;
                    }
                    input {
                        outline: none;
                        padding: 0.5rem 2rem 0.5rem 0.5rem;
                        width: 15rem;
                        border-top: transparent;
                        border-left: transparent;
                        border-right: transparent;
                        border-bottom: transparent;
                        border-radius: 0.5rem;
                        margin-left: 0.25rem;
                    }
                }
                .pass {
                    @include flex;
                    width: auto;
                    height: auto;
                    span {
                        width: 2rem;
                        height: 1.9rem;
                        background-image: url('../../public/lock.png');
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        filter: brightness(0) opacity(0.75);
                        border-top: transparent;
                        border-left: transparent;
                        border-right: 0.05rem solid rgba(0,0,0,0.25);
                        border-bottom: transparent;
                    }
                    input {
                        outline: none;
                        padding: 0.5rem 2rem 0.5rem 0.5rem;
                        width: 15rem;
                        border-top: transparent;
                        border-left: transparent;
                        border-right: transparent;
                        border-bottom: transparent;
                        border-radius: 0.5rem;
                        margin-left: 0.25rem;
                    }
                }
            }
            section {
                width: auto;
                height: auto;
                @include flex($dir : column, $gap : 0.75rem);
                p {
                    font-size: 0.75rem;
                    color: rgba(0,0,0,0.50);
                }
                div {
                    width: auto;
                    height: auto;
                    @include flex($gap : 1rem);
                    a {
                        width: 2rem;
                        height: 2rem;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                    a:nth-child(1) {
                        background-image: url('../../public/google.png');
                    }
                    a:nth-child(2) {
                        background-image: url('../../public/instagram.png');
    
                    }
                    a:nth-child(3) {
                        background-image: url('../../public/f.svg');
                    }
                }
            }
        }
    }
}