@charset "UTF-8";
.divider {
  height: 3.75rem;
  width: 100vw;
}

.preloader {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  opacity: 1;
}

.z {
  background: #010125;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #37474f;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.z img {
  position: absolute;
  top: 11.75%;
  left: 22.5%;
  width: 3rem;
}

/* -----------------------------------TITLE-------------------------------------*/
/* -----------BACKGROUND----------- */
.title {
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-attachment: fixed;
  transition: background-image 2s ease-in-out;
  scroll-snap-align: start;
}

/* -----------TITLE PAGE----------- */
.logo {
  margin: 10% 2% 10% 0;
  font-size: 8rem;
  font-family: "Kaushan Script", cursive;
  color: #e8e8e8;
  text-align: center;
  cursor: default;
}

.shopcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.shopnow {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shopnowText {
  cursor: pointer;
  padding: 0.25rem 0;
  border: none;
  text-align: center;
  border-radius: 1.25rem;
  width: 16rem;
  background: #e8e8e8;
  color: #37474f;
  transition: 0.55s;
  font-size: 1rem;
  opacity: 1;
}

.shopnow:hover .shopnowText {
  border: 1px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

/* -----------------------------------NAVBAR-------------------------------------*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding-top: 1.25rem;
  margin-inline: 1.25rem;
}

.nav-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
  margin-left: 1rem;
  margin-top: 0.575rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navl {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.searchbox {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  margin-top: 0.6rem;
  width: auto;
}

.searchbox > input {
  border-radius: 2rem;
  border: none;
  height: 1.75rem;
  text-align: right;
  width: 0;
  color: black;
  transition: all 0.5s;
  margin-inline: 0.5rem;
  display: none;
  opacity: 0;
}

.search-img {
  width: 2rem;
  filter: brightness(0) invert(1);
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 0.225rem;
  z-index: 20;
}

.navicons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  padding: 1rem 0 0 1.25rem;
  transition: all 0.5s;
}

.navimg {
  width: 2rem;
  filter: brightness(0) invert(1);
  transition: all 0.3s;
}

.login {
  cursor: pointer;
  margin: -0.45rem 1rem 0 0.5rem;
  border: 0.1rem solid #fff;
  text-align: center;
  border-radius: 50rem;
  width: 8rem;
  height: 1.75rem;
  background: transparent;
  color: #fff;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.login:hover {
  background: #e8e8e8;
  color: #37474f;
}

/* -----------------------------------CATEGORIES-------------------------------------*/
/* -----------CATEGORIES----------- */
.category {
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "one three four five" "two three six six";
  margin-inline: 0.5rem;
  height: 80vh;
}

/* Category Card Design */
.cards {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards:nth-child(1) {
  grid-area: one;
}

.cards:nth-child(2) {
  grid-area: two;
}

.cards:nth-child(3) {
  grid-area: three;
}

.cards:nth-child(4) {
  grid-area: four;
}

.cards:nth-child(5) {
  grid-area: five;
}

.cards:nth-child(6) {
  grid-area: six;
}

/* .cards:nth-child(odd) {
    transform: rotate(15deg);
    margin-left: 16rem;
    box-shadow: -0.25rem 0.25rem 0.25rem rgba(0,0,0,20%);
}

.cards:nth-child(even) {
    transform: rotate(-15deg);
    margin-left: 42rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,20%);
} */
/* Category Card Image */
.catImg {
  width: 100%;
  transition: all 0.8s;
}

.cards:hover .catImg {
  transform: scale(1.4);
  opacity: 0.5;
}

/* Category Card Overlay */
.overlay {
  opacity: 1;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  text-align: center;
}

/* Category Card Overlay Text */
.card_text {
  background: rgba(255, 255, 255, 0.7);
  color: #090909;
  width: 6rem;
  font-size: 1rem;
  padding: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
}

.cards:hover .card_text {
  color: white;
  background: var(--color);
  width: 11.25rem;
  opacity: 1;
}

.card_text > span {
  position: relative;
  display: inline-block;
  transition: all 0.5s;
  opacity: 1;
}

.card_text span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}

.card_text:hover span {
  opacity: 1;
  padding-right: 1rem;
}

.card_text:hover span:after {
  opacity: 1;
  right: 0;
}

/* -----------------------------------PAGINATOR-------------------------------------*/
.page {
  position: relative;
  margin-bottom: 5rem;
}

.paginator {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.paginator div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginator .filter {
  width: 3rem;
  height: 3rem;
  border-radius: 1.2rem;
  position: absolute;
  left: 2%;
  color: rgb(0, 0, 0);
  box-shadow: 0.2rem 0.2rem 0.5rem #c5c5c5, -0.2rem -0.2rem 0.5rem #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 110;
}

.prev {
  width: 12rem;
  height: 2.5rem;
  transition: box-shadow 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border-radius: 2rem 0 0 2rem;
  box-shadow: 0px 0.4rem 0.75rem #c5c5c5, 0px -0.4rem 0.75rem #fff;
}

.next {
  width: 12rem;
  height: 2.5rem;
  transition: box-shadow 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border-radius: 0 2rem 2rem 0;
  box-shadow: 0px 0.4rem 0.75rem #c5c5c5, 0px -0.4rem 0.75rem #fff;
}

.prev:hover {
  box-shadow: 0px 0.4rem 0.75rem #fff, 0px -0.4rem 0.75rem #c5c5c5;
}

.next:hover {
  box-shadow: 0px 0.4rem 0.75rem #fff, 0px -0.4rem 0.75rem #c5c5c5;
}

.prev:active {
  font-size: 1.75rem;
  box-shadow: -0.4rem -0.4rem 0.75rem #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}

.next:active {
  box-shadow: -0.4rem -0.4rem 0.75rem #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
  font-size: 1.75rem;
}

.filter {
  z-index: 10;
  width: 2rem;
  position: absolute;
  opacity: 1;
  transition: all 0.3s;
}

.filterOff {
  width: 1.5rem;
  z-index: 10;
  position: absolute;
  transition: all 0.3s;
  opacity: 0;
}

.filter:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem #fff, -0.2rem -0.2rem 0.5rem #c5c5c5;
}

.filter:active {
  box-shadow: -0.4rem -0.4rem 0.75rem #fff inset, 0.4rem 0.4rem 0.75rem #c5c5c5 inset;
}

.filter:active #filter {
  width: 1.75rem;
}

.items-wrapper {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 1s;
  gap: 1rem;
  background: #e8e8e8;
  width: 0;
  height: 110vh;
  position: absolute;
  top: -50%;
  left: 0;
  opacity: 0;
  gap: 1rem;
}
.items-wrapper section:first-child {
  position: absolute;
  left: 7.5%;
  top: 35%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-wrap: wrap;
  transition: all 0.5s;
  gap: 2rem;
  opacity: 0;
}
.items-wrapper section:last-child {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.37);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2rem;
  z-index: 200;
  width: 0;
  height: 70%;
  position: absolute;
  top: 8%;
  left: 34%;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
  cursor: default;
}
.items-wrapper section:last-child .dropdown-color div {
  border-radius: 100%;
  width: 5%;
  height: 5%;
}

.item-cont,
.input-cont-range {
  border-radius: 1rem;
  transition: all 0.5s;
  cursor: pointer;
}
.item-cont span,
.input-cont-range span {
  cursor: pointer;
  transition: all 0.5s;
}

.item-cont:hover {
  border: 1px solid #37474f;
  padding: 0.5rem;
}

.menu:hover .item-cont {
  border: 1px solid #37474f;
  padding: 0.5rem;
}

.price {
  width: 15rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  width: 60%;
  height: 87.5%;
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  opacity: 0;
  transition: all 0.5s;
}
.dropdown div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.colors {
  cursor: pointer;
  box-shadow: 0px 0.4rem 0.75rem #c5c5c5, 0px -0.4rem 0.75rem #fff;
  border-radius: 50%;
  border: 4px solid #e8e8e8;
  transition: all 0.5s;
}

.colors:hover {
  transform: scale(1.2);
}

.color-txt,
.cat-txt {
  color: #37474f;
}

.category {
  position: absolute;
  left: 14.5%;
}

.categories {
  cursor: pointer;
  border: 4px solid #e8e8e8;
  transition: all 0.5s;
}
.categories img {
  transition: all 0.5s;
  width: 75%;
}

.categories:hover img {
  transform: scale(1.2);
}

/* -----------------------------------SHOP-------------------------------------*/
/* Shopping Card Heading */
.div_title {
  text-align: center;
  cursor: default;
  font-size: 1.5rem;
  margin: 3% 0 1% 0;
  font-weight: bold;
}

.div_subtitle {
  text-align: center;
  cursor: default;
  padding-bottom: 5%;
}

/* Shopping Card Design */
.cardcont {
  display: none;
  -webkit-animation: fade_cardcont 0.75s ease;
          animation: fade_cardcont 0.75s ease;
  transition: all 0.5s;
}

@-webkit-keyframes fade_cardcont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_cardcont {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blog {
  display: block;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-inline: 2rem;
}

.c {
  cursor: pointer;
  border-radius: 25% 0 25% 0;
  width: 16rem;
  box-shadow: 0.4rem 0.4rem 0.75rem #c5c5c5, -0.4rem -0.4rem 0.4rem #fff;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
  position: relative;
  filter: brightness(92.25%);
}

.c:hover {
  border-radius: 0 25% 0 25%;
  box-shadow: 0.4rem 0.4rem 0.4rem #fff, -0.4rem -0.4rem 0.75rem #c5c5c5;
}

/* Shopping Card Image */
.c img {
  transition: 0.5s;
  display: block;
}

.c:hover img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Shopping Card Overlay */
.cardadd {
  width: 14%;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
  position: absolute;
  top: 10%;
  left: 10%;
  transition: all 0.5s;
}

.cardwish {
  width: 14%;
  opacity: 0;
  text-align: center;
  transition: 0.5s;
  position: absolute;
  bottom: 10%;
  right: 10%;
  transition: all 0.5s;
}

.cardadd:hover {
  filter: brightness(0.8);
}

.cardwish:hover {
  filter: brightness(0.8);
}

.c:hover .cardadd {
  opacity: 1;
}

.c:hover .cardwish {
  opacity: 1;
}

.overlay1 {
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: all 0.5s;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  border-radius: 0 50% 0 0;
}

.c:hover .overlay1 {
  height: 70%;
}

/* Shopping Card Size */
.size {
  opacity: 0;
  position: absolute;
  top: 12%;
  right: 10%;
  transition: all 0.5s;
}

.size ul {
  align-items: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: right;
}

.size li {
  margin-bottom: 0.6em;
  display: inline-block;
}

.size a {
  font-size: 0.8rem;
  transition: all 0.5s;
  text-decoration: none;
  color: black;
}

.c:hover .size {
  opacity: 1;
}

.size a:hover {
  text-shadow: 0 0 0.5rem #32A564;
  color: white;
}

/* -----------------------------------SLIDESHOW-------------------------------------*/
.slideshow {
  display: flex;
  justify-content: space-evenly;
  height: 31rem;
  width: auto;
}

.slider {
  display: none;
  height: 31rem;
  -webkit-animation: fade 1.5s linear;
          animation: fade 1.5s linear;
  transition: all 0.5s;
}

.slider img {
  width: 100%;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* -----------------------------------FOOTER-------------------------------------*/
.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  background: linear-gradient(-45deg, #00093c, #2d0b00);
  background-repeat: no-repeat;
  padding-bottom: 10%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  height: 25rem;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.footlogo h2 {
  font-family: "Water Brush", cursive;
  font-size: 6rem;
  color: white;
  cursor: default;
  margin-bottom: -5%;
}

.contact {
  cursor: default;
  width: 14rem;
  color: white;
  padding-top: 18%;
  margin-left: 7%;
}

.contact_number {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact_number span {
  text-align: right;
}

.contact_email {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact_email span {
  text-align: right;
}

.newsletter {
  cursor: default;
  color: white;
  padding-top: 22%;
  margin-inline: 0.5rem;
}

.separator {
  width: 100%;
  display: block;
}

.email {
  border-radius: 0.5rem;
  border: none;
  width: 19rem;
  height: 1.25rem;
  text-align: left;
  padding: 0.5rem;
  cursor: text;
  margin-bottom: 0.25rem;
}

.submit {
  border-radius: 0.5rem;
  border: none;
  width: 10rem;
  height: 2.5rem;
  text-align: left;
  cursor: pointer;
  background-color: #A64B2A;
  color: hsl(207deg, 100%, 98%);
  transition: 0.3s;
  text-align: center;
}

.submit:hover {
  box-shadow: 0 0 0.5rem #A64B2A;
  opacity: 0.6;
  cursor: pointer;
}

.contact_ico {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0) invert(1);
  transition: 0.3s;
  cursor: pointer;
}

.contact_ico:hover {
  filter: none;
}

/* -----------------------------------MEDIA QUERIES-------------------------------------*/
@media screen and (max-width: 1000px) {
  .category {
    display: grid;
    gap: 0.5rem;
    grid-template-areas: "one two" "three four" "three five" "six six";
    margin-inline: 0.5rem;
    height: auto;
  }
  .footer {
    height: 40rem;
    gap: 5%;
  }
  .footlogo h2 {
    margin-left: -0.75rem;
  }
  .contact {
    padding-top: 0%;
  }
  .newsletter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: center;
  }
  .bg1, .bg2, .bg3 {
    text-align: center;
  }
  .txt, .email, .footlogo h2, .contact_email span, .contact_number span {
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
  }
  .navl {
    font-size: 1rem;
  }
  .nav-right {
    flex-flow: column;
  }
  .searchbox {
    transform: translateX(-27.5%);
  }
  .login {
    margin: -0.175rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2rem;
  }
  .logo {
    font-size: 7rem;
    margin: 10% 5% 22.5% 0;
  }
  .shopnow {
    margin-bottom: 1rem;
    width: 12.5rem;
    font-size: 1.25rem;
  }
  .navicons {
    padding: 1rem 0 0 0;
  }
}
@media screen and (max-width: 800px) {
  .logo {
    margin: 12% 5% 22.5% 0;
  }
}
@media screen and (max-width: 624px) {
  .logo {
    margin: 14% 5% 22.5% 0;
  }
  .prev, .next {
    width: 8.5rem;
  }
}
@media screen and (max-width: 550px) {
  .paginator .filter {
    transform: translateY(4.25rem);
    left: 45.65%;
  }
}
@media screen and (max-width: 500px) {
  .cards:hover .card_text {
    width: 7rem;
  }
}
@media screen and (max-width: 450px) {
  .logo {
    margin: 21% 5% 22.5% 0;
  }
}
@media screen and (max-width: 400px) {
  .paginator .filter {
    left: 43.5%;
  }
  .logo {
    margin: 22.5% 5% 22.5% 0;
  }
}/*# sourceMappingURL=index.module.css.map */